<!DOCTYPE html>
<html lang="en" ng-app="feedable">
  <head>
    <meta charset="utf-8">
    <!-- Angular CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>

    <!-- js files -->
    <script type="text/javascript" src="scripts/app.js"></script>
    <script type="text/javascript" src="scripts/controllers/HomepageController.js"></script>
        <script type="text/javascript" src="scripts/controllers/RestaurantInfoController.js"></script>

    <!-- jQuery CDN for bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- css stylesheet -->
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins|Open+Sans:300|Work+Sans:300,800" rel="stylesheet">

    <title>feedABLE</title>
  </head>
  <body>
    <div class="logo col-xs-3">
      <span class="feed">feed</span><span class="able">ABLE</span>
    </div>
    <div class="container">
      <div class="row">
        <!-- <div class="logo col-xs-12">
          <span class="feed">feed</span><span class="able">ABLE</span>
        </div> -->
      </div>

<!-- ng-view -->
      <div class="row" ng-view>
      </div>


    </div>
  </body>
</html>
