<div class="logo2 col-xs-12">
  <span class="feed">feed</span><span class="able">ABLE</span>
</div>

<div class="row white-background main-container">

  <h2 class="type-title col-xs-12">
    <button type="button" class="btn btn-secondary btn-sm back" ng-click="deliveryCtrl.goBack()">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Start Over
    </button>
    {{deliveryCtrl.restaurant.name}}</h2><br>


  <div class="col-xs-12 delivery">
    <h3>Choose your method of delivery:</h3>
    <button type="button" class="btn btn-secondary delivery-btn" ng-click="deliveryCtrl.pickUpModal()">Pick Up</button>
    <button type="button" class="btn btn-secondary delivery-btn" ng-click="deliveryCtrl.map()">Drop Off</button>
  </div>

  <div class="col-xs-12" id="map">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
  </div>

</div>

<!-- ng-click="deliveryCtrl.dropOffModal()" -->
