<div class="col-xs-6">
  <div class="type-container" id="restaurant">
    <div class="type-text">
      I'm a <br> <span class="bold">RESTAURANT/<br>CATERER</span> <br>
    </div>
    <button type="button" class="btn btn-secondary glyphicon glyphicon-arrow-right"></button>
  </div>
</div>
<div class="col-xs-6">
  <div class="type-container" id="soup-kitchen">
    <div class="type-text">
      I'm a <br> <span class="bold">SOUP KITCHEN</span> <br>
    </div>
    <button type="button" class="btn btn-secondary glyphicon glyphicon-arrow-right"></button>
  </div>
</div>
