<div class="logo1 col-xs-3">
  <span class="feed">feed</span><span class="able">ABLE</span>
</div>
<div class="container">
  <div class="row">
  </div>

<div class="row">
  <div class="col-xs-6">
    <div class="type-container" id="restaurant" ng-click="homepageCtrl.newLocation('restaurant')">
      <div class="type-text">
        I'm a <br> <span class="bold">RESTAURANT/<br>CATERER</span> <br>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="type-container" id="soup-kitchen" ng-click="homepageCtrl.newLocation('soup')">
      <div class="type-text">
        I'm a <br> <span class="bold">SOUP<br>KITCHEN</span> <br>
      </div>
    </div>
  </div>
</div>
