
<div class="modal-header">
  <button type="button" class="close" ng-click="restaurantInfoCtrl.close()" aria-hidden="true">&times;</button>
  <h2 class="modal-title">Pick-Up</h4>
</div>
<div class="modal-body">
  <p>Please fill in the details below for your preferred pick-up time. While we cannot guarantee that a soup kitchen will be able to fulfill
     your exact request, we promise that we will do our best to match your specifications. </p>
  <form class="form-group">
    <label>Date: </label>
    <input type="text" class="form-control" placeholder="mm/dd" ng-model="newPickUp.date">
    <br><label>Time: </label>
    <input type="text" class="form-control" placeholder="12:00 PM" ng-model="newPickUp.time">
</div>

<div class="modal-footer">
  <button type="submit" ng-click="restaurantInfoCtrl.savePickUp(newPickUp)" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-default" ng-click="restaurantInfoCtrl.close()">Cancel</button>
</div>

<!-- MIGHT HAVE TO MOVE SUBMIT INTO MODAL FORM <FORM> -->
