<div class="logo2 col-xs-12">
  <span class="feed">feed</span><span class="able">ABLE</span>
</div>

<div class="row white-background">

  <h2 class="type-title col-xs-12">
    <button type="button" class="btn btn-secondary btn-sm back" ng-click="restaurantInfoCtrl.goBack()">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span> Back
    </button>
    Browse Donating Restaurants
  </h2><br>

  <div class="grey-background col-xs-10 col-xs-offset-1">
    <input type="text" class="form-control" ng-model="searchText" placeholder="Search Restaurants">
    <div ng-repeat="albums in albumsIndexCtrl.albums | orderBy: 'name' | filter: searchText" class="row">
  </div>

</div>

<!-- fix ng-repeat to refer to correct palces -->
