<div class="col-xs-6">
  <h3>Restaurant/Catering Service</h3><br>
  <form>
    <label>Business Name: </label>
    <input type="text" class="form-control" ng-model="newRestaurant.name"><br>
    <label>Address: </label>
    <input type="text" class="form-control" placeholder="Street Address, City State Zipcode" ng-model="newRestaurant.address"><br>
    <label>Phone Number: </label>
    <input type="text" class="form-control" placeholder="(xxx)xxx-xxxx" ng-model="newRestaurant.phone"><br>
    <label>Contact Name: </label>
    <input type="text" class="form-control" placeholder="Who should we ask to speak to if there's a problem?" ng-model="newRestaurant.contact"><br>
  </form>
</div>

<div class="col-xs-6">
  <div class="restaurant-links">
    <!-- create a custom directive for these later -->
    <div class="info-link col-xs-4">FB
    </div>
    <div class="info-link col-xs-4">IG
    </div>
    <div class="info-link col-xs-4">yelp
    </div>
    <div class="info-link col-xs-4">menu
    </div>
    <div class="info-link col-xs-4">etc
    </div>
    <div class="info-link col-xs-4">etc
    </div>
  </div>
</div>
