/*/////////FIRST PAGE ANIMATION////////////*/

.slideup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}
.slideup.ng-enter,
.slideup.ng-leave {
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.slideup.ng-enter {
    top: 100%;
}
.slideup.ng-enter-active {
    top: 0;
}
.slideup.ng-leave {
    top: 0;
}
.slideup.ng-leave-active {
    top: -100%;
}

/*/////////////HOMEPAGE////////////////*/

body {
  font-family: 'Poppins', sans-serif;
  background: url('http://clipgoo.com/daut/as/f/f/foundry-iii-living-wall-505-howard-st-green-habitat-next-previous_indoor-green-wall-plants_home-decor_home-decor-blog-decorators-catalog-pinterest-decorating-rugs-affordable-beach-coupon-code-country.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo1 {
  font-size: 4.5vw;
  margin-top: 20px;
  padding-left: 35px;
  color: black;
  background: rgba(255,255,255,.7);
}

.feed {
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.able {
  font-family: 'Open Sans', sans-serif;
}

#soup-kitchen, #restaurant {
  background: rgba(50, 50, 50, 0.7);
}

#soup-kitchen:hover {
  background: linear-gradient(rgba(50, 50, 50, 0.55), rgba(50, 50, 50, 0.55)),
              url(http://static.wixstatic.com/media/a16309_1499efecfca24ef0ba89358c2b49c8aa~mv2_d_5130_3420_s_4_2.jpg);
  background-size: cover;
}

#restaurant:hover {
  background: linear-gradient(rgba(50, 50, 50, 0.55), rgba(50, 50, 50, 0.55)),
              url(http://s3.amazonaws.com/digitaltrends-uploads-prod/2012/08/restaurant.jpeg);
  background-size: cover;
}

.type-container {
  height: 30vw;
  margin-top: 100px;

}

.type-text {
  margin-left: 10%;
  font-size: 3vw;
  color: white;
  padding-top: 20%;
}

.bold {
  font-size: 4vw;
  font-weight: bold;
}

/*/////////////RESTAURANT PATH//////////////*/

.logo2 {
  font-size: 4.5vw;
  color: black;
}

.white-background {
  background: white;
  margin-top: 50px;
  padding: 10px 50px 50px 50px;
  height: 85%;
}

.restaurant-links {
  margin-top: 50px;
}

.info-link {
  height: 5vw;
  margin-top: 3vw;
  text-align: center;
}

button.back {
  float: left;
  margin-bottom: 20px;
}

.type-title {
  margin-top: 50px;
}
